.register-page {
  padding: 5rem 0;
  background-color: #1E1E1E;
  color: #E0E0E0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: #242424;
  padding: 2rem;
  border-radius: 1rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #3949AB;
} 